body, .header-2-col p, .username {
    margin: 0;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: minmax(100px, 1fr) 4fr;
}

.sidebar {
    background-color: lightgreen;
    grid-row: 1 / 3;

    display: grid;
    grid-template-rows: 1fr 2fr 4fr;
    align-items:center ;
    gap: 5px
}

.sidebar-icon, .dashboard-icon {
    fill: darkslategray;
    margin-left: 17px;
    margin-right: 5px;
    width: min(24px);
    margin-right: 9px;
}

.sidebar-icon.smaller {
    width: min(23px);
    margin-left: 18px;
}

.sidebar-icon.smallest {
    width: min(20px);
    margin-left: 19px;
}

.dashboard-icon {
    width: min(31px);
    margin-right: 3px;
}

.dashboard-text, .sidebar-list li {
    color: darkslategray;
    font-size: 1.2rem;
    margin: 0;
    margin-right: 5px;
}

.sidebar-1 {
    display: flex;
    align-items: center;
}

.sidebar-2, .sidebar-3 {
    align-self: start;
}

.sidebar-list {
    padding-left: 0;
}

.sidebar-list li {
    list-style-type: none;
    display: flex;
    align-items: center;
    font-size: 1rem;
    margin-bottom: 9px;
}

/* Header ------------------------------- */

.header {
    background-color: lightblue;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1.5fr;
}

.header-1, .header-2 {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
}

.profile-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.header-icon {
    width: 20px;
}

.header-row-1, .header-row-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px
}

.header-row-1 input {
    width:  clamp(100px, 50%, 400px);
}

.header-row-1, .header-2-row-1 {
    justify-content: start;
    margin-left: 40px;
}

.header-row-2 {
    gap: 20px
}

.header-2-row-1 {
    display: flex;
    align-items: center;
}

.header-2-row-2 {
    display: flex;
    justify-content: space-evenly;
    margin-right: 20px;
}

.header-2-col {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: 10px;
}

.header-2-row-1 img {
    width: 50px;
    height: 50px;
}


/* Header ------------------------------- */

.main-content {
    background-color: lightpink;
}




